
<!--<router-outlet></router-outlet>--> <!--Only using Angular routing to define MD text-->

<!-- START NAVBAR -->
<div class="navFixed">
  <div class="navWrapper">
    <a href="https://portal.mycodecentral.com/my/" target="_self"><img src="https://raw.githubusercontent.com/mm909/CCC/master/img/logo.png" alt="Code Central"></a>
  </div>
</div>
<!-- END NAVBAR -->

<!-- Header and imports above -->
<div class="contentWrapper">

  <div id="tocHook">CCC</div> <!-- tocHook w/ title "CCC" -->

  <div id="top" class="articalContent">

    <div>
      <h1>Test</h1>
    </div>

    <div id="tocContent"> <!-- tocContent w/ sections and subsection -->
  
      <markdown [src]="page"></markdown>
  
    </div>

  </div>

</div>

